*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    background: orangered;
}
nav{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
}

nav a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    letter-spacing: .25rem;
}

.cntr-nav{
    display: flex;
    gap: 3vw;
}
nav i{
    font-size: 1.5vw;
    color: #fff;
    font-weight: bolder;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255, 166, 0),rgb(255, 74, 2));
}
.one h1{
    font-size: 25vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3rem;
    position: absolute;
    color: #fff;
}
#fanta{
    width: 15%;
    z-index: 2;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#orange-slice{
    z-index: 1;
    width: 15%;
    position: absolute;
    top: 10%;
    left: 35%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#orange{
    z-index: 3;
    width: 20%;
    position: absolute;
    top: 50%;
    right: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#leaf-branch{
    width: 30%;
    position: absolute;
    top: 5%;
    right: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #eceecd;
}


.lft-two, .rght-two{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: rgb(255, 81, 0);
    gap: 5vh;
}
.lft-two img{
    width: 30%;
    position: absolute;
    margin-top: 27vh;
    left: 9.5%;
}

.rght-two h1{
    font-size: 5vw;
    color: #fff;
}
.rght-two p{
    color: #fff;
    font-size: 1vw;
    width: 80%;
}

.three{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255, 166, 0),rgb(255, 74, 2));
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 70vh;
    background: #fff;
    border-radius: 15px;
    gap: 1vw;
}
.card h1{
    margin-top: 45vh;
    font-size: 3vw;
}
.card img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.card button{
    border: none;
    border-radius: 100px;
    font-size: 1vw;
    padding: 1vw 2vw;
    background: orange;
    color: #fff;
}

#pepsi {
    top: 5%;
    position: absolute;
    width: 28%;
}
#cocacola {
    top: 10%;
    position: absolute;
    width: 15%;
}

#credit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: inherit;
    color: #fff;
    padding: 10px;
}